
@{
    ViewBag.Title = "DisplayTrip";
    Layout = "~/Views/Shared/_LayoutHeaderAndFooter.cshtml";
}

<!--display_trip-->


<div class="list_tour_cate">

    <div class="box_tour_cate">
        <h1 class="name_tour_detail"></h1>
        <div class="col-md-3 col-sm-3 col-xs-3 col-480-12">
            <div class="row">
                <div class="img_tour_km h_6667z img_tour_cate">
                    <img class="w_100 img_item_tour"
                         src="@ViewBag.ListTrip.HinhAnh"
                         alt="" style="height: 137.34px;">
                    <div class="sale_tour_km">Giảm @ViewBag.ListTrip.Sale %</div>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-9 col-480-12">
            <div class="row">
                <div class="sub_tour_cate">
                    <div class="info_tour_cate">
                        <b>Khởi hành từ:</b> @ViewBag.ListTrip.DiemKhoiHanh<br />
                        <b>Thời gian:</b> @ViewBag.ListTrip.SoNgay Ngày @ViewBag.ListTrip.SoDem Đêm  <br />
                        <b>Giá tour:</b>  <del>@string.Format("{0:#,##0}", ViewBag.ListTrip.GiaTrip)  đ</del><br />
                        @{
                            var a = ViewBag.ListTrip.GiaTrip;
                            var b = @ViewBag.ListTrip.Sale;
                            var price = string.Format("{0:#,##0}", a - (a * b / 100));

                        }
                        <b>Giá khuyến mãi: </b> <span style="color: red; font-size: 16px; font-weight: bold">@price đ </span><br />
                        <b>Khởi hành ngày:</b> @ViewBag.ListTrip.TimeKhoiHanh<br />

                        <p class="oder_tour_cate" style="color:white"> <a href="@Url.Action("BookTrip","Book" ,new { id = ViewBag.ListTrip.Id })" target="_blank" style="color:white;">Đặt Tour</a></p>
                        <style>
                            .class1 {
                                color: white;
                                background-color: aqua;
                            }
                        </style>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="content_detail_tour">
        <div class="tit_detail_tour">
            <span class="text_detail_tour">Chương trình tour</span>
            <div class="pull-right" style="width: 202px">



            </div>
        </div>

        <div class="container">

            <section class="content no-padding">
                <div class="col-xs-12 no-padding">
                    <h1 class="pageTitle vcolor-primary v-margin-top-0 v-margin-bottom-15">
                        <b>
                            Tour Miền Bắc 4N3D: Sài
                            Gòn - Hạ Long - Ninh Bình - Tam Chúc - Sapa
                        </b>
                    </h1>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-lg-push-8 col-md-push-8 sideBarContent" ">
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-lg-pull-4 col-md-pull-4 mainContent">
                            <div class="col-xs-12 no-padding tourHeaderContainer v-margin-bottom-30">
                                <div class="col-xs-12 no-padding padding-mobile">
                                    <div class="tourHeaderCover2"
                                         style="background-image: url('//cdn2.ivivu.com/2020/07/08/14/ivivu-kdl-tam-chuc-750x390.gif');">
                                        <div class="visible-xs-inline hidden">
                                            <div class="col-xs-12 tourHeaderBackgroundTrans">
                                                <h1>
                                                    <span class="vcolor-white no-margin title">
                                                        <b>
                                                            Tour Miền Bắc 4N3D:
                                                            Sài Gòn - Hạ Long - Ninh Bình - Tam Chúc - Sapa
                                                        </b>
                                                    </span>
                                                </h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">

                                </div>


                                <div class="col-xs-12 tourHeaderContent">

                                    <div class="col-xs-12 no-padding tourDetailContainer v-margin-bottom-30">
                                        <div class="col-xs-12 no-padding tourDetailMainDiv">
                                            <div class="col-xs-12 no-padding">
                                                <h3 class="tourDetailheadLine vcolor-primary">
                                                    <div class="fb-like"
                                                         data-href="https://www.ivivu.com/du-lich/tour-mien-bac-4n3d-sai-gon-ha-long-ninh-binh-tam-chuc-sapa/1327"
                                                         data-layout="button" data-action="like" data-size="small"
                                                         data-show-faces="true" data-share="true" style="float:right">
                                                    </div>
                                                    Hành Trình 'Nơi Mơ Đến - Chốn Mong Về'
                                                </h3>
                                                <div class="col-xs-12 tourScheduleContainer">
                                                    <div class="tourSchedule">
                                                        <p>
                                                            Với h&agrave;nh tr&igrave;nh 4 ng&agrave;y tại Phương Bắc,
                                                            kh&ocirc;ng những mang n&eacute;t đặc sắc về kiến
                                                            tr&uacute;c, cảnh quan thi&ecirc;n nhi&ecirc;n, m&agrave;
                                                            nơi đ&acirc;y c&ograve;n chứa đựng gi&aacute; trị t&acirc;m
                                                            linh, phật t&iacute;ch qu&yacute; b&aacute;u qua nhiều năm
                                                            lịch sử. Đặc trưng trong chương tr&igrave;nh h&agrave;nh
                                                            hương v&atilde;ng cảnh ch&ugrave;a cầu may mắn, b&igrave;nh
                                                            an, phước lộc cho gia đ&igrave;nh,... l&agrave; một trong
                                                            những n&eacute;t văn h&oacute;a đặc trưng đ&atilde;
                                                            c&oacute; từ bao đời nay của người Việt. C&ugrave;ng iVIVU
                                                            kh&aacute;m ph&aacute; ngay h&ocirc;m nay!&nbsp;
                                                        </p>
                                                        <p>&nbsp;</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 no-padding">
                                                <h3 class="tourDetailheadLine vcolor-primary">
                                                    Những trải nghiệm thú vị trong chương trình
                                                </h3>
                                                <div class="col-xs-12 tourScheduleContainer">
                                                    <div class="tourSchedule">
                                                        <p>
                                                            H&agrave;nh tr&igrave;nh đầy th&uacute; vị bởi du
                                                            kh&aacute;ch được cảm nhận:
                                                        </p>
                                                        <p>- Trải nghiệm h&agrave;nh tr&igrave;nh du lịch miền bắc.</p>
                                                        <p>
                                                            - T&igrave;m hiểu lịch sử văn h&oacute;a, đời sống, con
                                                            người, thắng cảnh từng v&ugrave;ng đi qua.
                                                        </p>
                                                        <p>
                                                            -&nbsp;<strong>Ch&ugrave;a Tam Ch&uacute;c</strong> &ndash;
                                                            ng&ocirc;i ch&ugrave;a lớn nhất nhất thế giới
                                                        </p>
                                                        <p>
                                                            - Thưởng thức đặc sản:<strong>
                                                                Hạ Long, Ninh
                                                                B&igrave;nh,&nbsp;Sapa.&nbsp;
                                                            </strong>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 no-padding" id="tour-schedule">
                                                <h3 class="tourDetailheadLine vcolor-primary">
                                                    Chương trình tour
                                                </h3>
                                                <div class="col-xs-12 tourScheduleContainer">
                                                    <div class="tourSchedule">
                                                        <h3>
                                                            NG&Agrave;Y 1: HCM - V&Acirc;N ĐỒN - HẠ LONG ( Ăn
                                                            s&aacute;ng, trưa, tối)
                                                        </h3>
                                                        <p>
                                                            05h00: Nh&acirc;n vi&ecirc;n đ&oacute;n Qu&yacute;
                                                            kh&aacute;ch tại Ga Quốc nội, s&acirc;n bay
                                                            <strong>T&acirc;n Sơn Nhất</strong> hỗ trợ l&agrave;m thủ
                                                            tục đ&aacute;p chuyến bay đi <strong>V&acirc;n Đồn</strong>
                                                            dự kiến l&uacute;c 07h15.
                                                        </p>
                                                        <p>
                                                            08h30: Đến s&acirc;n bay, xe đ&oacute;n qu&yacute;
                                                            kh&aacute;ch về nh&agrave; h&agrave;ng d&ugrave;ng bữa
                                                            s&aacute;ng. Khởi h&agrave;nh đi <strong>Hạ Long.</strong>
                                                        </p>
                                                        <p>
                                                            12h00: Đến <strong>Hạ Long</strong>, đo&agrave;n ăn trưa tại
                                                            nh&agrave; h&agrave;ng. Nhận ph&ograve;ng tại kh&aacute;ch
                                                            sạn, nghỉ ngơi.
                                                        </p>
                                                        <p>
                                                            14h00: Xe đưa đo&agrave;n đến bến thuyền thăm <strong>
                                                                Vịnh Hạ
                                                                Long
                                                            </strong> - Kỳ quan thi&ecirc;n nhi&ecirc;n thế
                                                            giới,&nbsp; được UNESCO hai lần c&ocirc;ng nhận l&agrave; di
                                                            sản thi&ecirc;n nhi&ecirc;n thế giới. T&agrave;u đ&oacute;n
                                                            qu&yacute; kh&aacute;ch, bắt đầu h&agrave;nh tr&igrave;nh
                                                            kh&aacute;m ph&aacute; vịnh Hạ Long ngắm cảnh L&agrave;ng
                                                            Ch&agrave;i, h&ograve;n Ấm, h&ograve;n R&ugrave;a,
                                                            h&ograve;n Đỉnh Hương, h&ograve;n Ch&oacute; Đ&aacute;,
                                                            h&ograve;n g&agrave; Chọi&hellip; T&agrave;u dừng để
                                                            Đo&agrave;n tham quan:
                                                        </p>
                                                        <p>
                                                            - <strong>Động Thi&ecirc;n Cung</strong>&nbsp;tức l&agrave;
                                                            &ldquo;Cung điện của trời&rdquo;: L&agrave; một trong những
                                                            hang động đẹp nhất ở Hạ Long. Hang rộng, c&oacute; nhiều cấp
                                                            nhiều ngăn với v&ocirc; v&agrave;n nhũ đ&aacute;, măng
                                                            đ&aacute; mang những h&igrave;nh th&ugrave; kỳ lạ.&nbsp;
                                                        </p>
                                                        <p style="text-align: center;">
                                                            <img title="" class="lazy"
                                                                 src="/du-lich/content/img/no-image.svg"
                                                                 data-src="//cdn2.ivivu.com/2020/06/26/09/ivivu-dong-thien-cung.gif"
                                                                 alt="" />
                                                        </p>
                                                        <p style="text-align: center;">
                                                            <em>Động Thi&ecirc;n Cung.</em>
                                                        </p>
                                                        <p>
                                                            - <strong>Hang Đầu Gỗ</strong>&nbsp;- l&agrave; nơi gắn liền
                                                            với c&acirc;u chuyện lịch sử chống qu&acirc;n Nguy&ecirc;n
                                                            M&ocirc;ng năm 1228 của Trần Hưng Đạo. hải tr&igrave;nh du
                                                            thuyền đi giữa Hạ Long với h&agrave;ng ng&agrave;n đảo
                                                            đ&aacute; sừng sững du kh&aacute;ch sẽ c&oacute; dịp
                                                            chi&ecirc;m ngưỡng bức tranh thi&ecirc;n tạo khổng lồ
                                                            như&nbsp; H&ograve;n Đỉnh Hương,&nbsp; H&ograve;n G&agrave;
                                                            Chọi, h&ograve;n Ch&oacute; Đ&aacute;,&hellip;.
                                                        </p>
                                                        <p style="text-align: center;">
                                                            <img title="" class="lazy"
                                                                 src="/du-lich/content/img/no-image.svg"
                                                                 data-src="//cdn2.ivivu.com/2020/07/08/14/ivivu-hang-dau-go.gif"
                                                                 alt="" />
                                                        </p>
                                                        <p style="text-align: center;"><em>Hang Đầu Gỗ.</em></p>
                                                        <p>
                                                            18h30: Đo&agrave;n ăn tối tại nh&agrave; h&agrave;ng.
                                                            Qu&yacute; kh&aacute;ch tự do dạo chơi dọc biển B&atilde;i
                                                            Ch&aacute;y, đi mua sắm h&agrave;ng h&oacute;a tại khu
                                                            <strong>Chợ Đ&ecirc;m Hạ Long</strong> sầm uất, l&ecirc;n
                                                            cầu <strong>B&atilde;i Ch&aacute;y</strong> &ndash;
                                                            c&acirc;y cầu d&acirc;y văng d&agrave;i nhất Việt Nam ngắm
                                                            Hạ Long về đ&ecirc;m.
                                                        </p>

                                                        <p style="text-align: center;">
                                                            <em>
                                                                Thứ tự tham quan c&oacute;
                                                                thể thay đổi nhưng vẫn bảo đảm đầy đủ điểm trong chương
                                                                tr&igrave;nh.
                                                            </em>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section><!-- /.content -->
        </div><!-- /.container -->


    </div>
</div>



<!--end_display_trip-->
